<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefit.mq.repository.dao.MqProxyMapper">
	<resultMap id="BaseResultMap" type="com.lefit.mq.repository.model.MsgEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="tag" jdbcType="VARCHAR" property="tag" />
		<result column="body" jdbcType="VARCHAR" property="body" />
		<result column="message_id" jdbcType="VARCHAR" property="messageId" />
		<result column="message_key" jdbcType="VARCHAR" property="key" />
		<result column="lable" jdbcType="INTEGER" property="lable" />
		<result column="retry_num" jdbcType="INTEGER" property="retryNum"/>
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
		<result column="mtime" jdbcType="DATE" property="mtime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, tag, body, message_id, message_key, lable, retry_num, ctime, mtime
	</sql>

	<insert id="insertSelective" parameterType="com.lefit.mq.repository.model.MsgEntity" useGeneratedKeys="true" keyProperty="id">
		insert into ${table}
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="topic != null" >
				topic,
			</if>
			<if test="tag != null" >
				tag,
			</if>
			<if test="body != null" >
				body,
			</if>
			<if test="messageId != null" >
				message_id,
			</if>
			<if test="key != null">
				message_key,
			</if>
			<if test="lable != null">
				lable,
			</if>
			<if test="ctime != null" >
				ctime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="topic != null" >
				#{topic,jdbcType=VARCHAR},
			</if>
			<if test="tag != null" >
				#{tag,jdbcType=VARCHAR},
			</if>
			<if test="body != null" >
				#{body,jdbcType=VARCHAR},
			</if>
			<if test="messageId != null" >
				#{messageId,jdbcType=VARCHAR},
			</if>
			<if test="key != null">
				#{key,jdbcType=VARCHAR},
			</if>
			<if test="lable != null">
				#{lable,jdbcType=INTEGER},
			</if>
			<if test="ctime != null" >
				#{ctime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateMessageId">
		UPDATE ${tableName} SET message_id = #{messageId,jdbcType=VARCHAR} WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateRetryNum">
		UPDATE ${tableName} SET retry_num = retry_num + 1 WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteBackupAlready">
		DELETE FROM ${tableName} where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item, jdbcType=BIGINT}
		</foreach>
	</delete>

	<select id="queryFailMsg" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		from ${tableName}
		WHERE lable = #{lable,jdbcType=INTEGER}
		AND message_id = ''
		AND retry_num &lt; 10
		ORDER BY retry_num LIMIT 1;
	</select>

	<select id="queryBackUp" resultMap="BaseResultMap" parameterType="java.lang.String" >
		SELECT
		<include refid="Base_Column_List" />
		FROM ${tableName}
		WHERE (not EXISTS (SELECT id FROM lefit_user_topic_test_history ORDER BY id DESC LIMIT 1) OR
		id &gt; (SELECT id FROM lefit_user_topic_test_history ORDER BY id DESC LIMIT 1))
		AND ctime &lt; UNIX_TIMESTAMP(DATE_SUB(now(),INTERVAL 1 DAY))*1000
		limit 5;
	</select>

	
</mapper>